/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');
*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box
}
html{
	scroll-behavior: smooth
}
body{
	background: #171717;
	color: #EDEDED;
	font-family: Nunito;
	font-weight: 300;
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	cursor: context-menu;
}
@media (min-width: 860px) {
  body, html {
    font-size: 8px;
  }
}
@media (min-width: 1200px) {
  body, html {
    font-size: 10px;
  }
}
#wrapper{
	position: absolute
}
section{
	height: 100vh !important;
	width: 100vw !important;
	overflow: hidden;
}
.tophead{
	width: 100vw;
	height: 8vh;
	align-items: center;
	z-index: 999;
	position: fixed;
}
.tophead:hover .tittle{
	color: #da0037
}
.tittle{
	position: relative;
	color: #ededed;
	transition: 0.3s 0.3s ease
}
.tittle h1{
	text-align: center;
	font-weight: 900;
	font-size: 23px
}
#menuToggle{
	display: block;
	z-index: 1;
	width: 10%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	   user-select: none;
}
#menuToggle a{
	text-decoration: none;
	color: #EDEDED;
	transition: color 0.3s ease;
}
#menuToggle a:hover{
  	color: #DA0037;
}
#menuToggle input{
	display: block;
	width: 28px;
	height: 18px;
	position: absolute;
	top: inherit;
	left: inherit;
	cursor: pointer;
	opacity: 0;
	z-index: 999999;
  	-webkit-touch-callout: none;
}
#menuToggle span{
	display: block;
	width: 25px;
	height: 2px;
	margin-bottom: 5px;
	position: relative;
	background: #EDEDED;
	border-radius: 3px;
	z-index: 99999; 
	transform-origin: 4px 0px; 
	transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0),
				background 0.3s cubic-bezier(0.77,0.2,0.05,1.0),
				opacity 0.3s ease;
}
#menuToggle:hover span{
	background: #DA0037;
}
#menuToggle span:first-child{
	transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(1){
	transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span{
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #DA0037;
}
#menuToggle input:checked ~ span:nth-last-child(3){
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
	transform: rotate(-45deg) translate(0, -1px);
}
#menu{
	position: absolute;
	height: 350px;
	width: 200px;
	margin: -100px 0 0 -50px;
	padding: 50px;
	padding-top: 125px;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	background: none
}
#menu li{
	padding: 10px 0;
	font-size: 18px;
	font-weight: 400
}
#menuToggle input:checked ~ ul{
	transform: none;
}
.line-icon{
	fill: none;
	stroke: #EDEDED;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 300;
	stroke-dashoffset: 0;
	height: 30px;
	float: left;
}
.stroke-4{
	stroke-width: 3;
}
.stroke-2{
	stroke-width: 3;
}
.line-icon:hover{
	-webkit-animation: draw 3s linear alternate infinite;
	animation: draw 1.2s linear alternate infinite;
	stroke: #DA0037;
}
@-webkit-keyframes draw{
	0% {
		stroke-dashoffset: 280;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
.section{
	position: relative;
	height: 100vh;
	width: 100vw;
}
.photo{
	background: url("../images/layer2.png");
	height: 900px;
	width: 100%;
	background-size: contain !important;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	bottom: 0px;
	z-index: 2;
	transform: scale(0.8);
	transition: 0.3s 0.3s ease;
}
.section:hover .layer1{
	opacity: 100%;
	transform: translateY(0);
	transition: 0.3s 0.3s ease;
	filter: blur(0.3px);
}
.section:hover .layer3{
	opacity: 100%;
	transition: 0.3s 0.3s ease;
	transform: scale(1);
}
@keyframes layer1{
	0% { transform: translate(2px, 2px); }
  10% { transform: translate(-2px, -3px); }
  20% { transform: translate(-4px, 0px); }
  30% { transform: translate(4px, 3px); }
  40% { transform: translate(2px, -2px); }
  50% { transform: translate(-2px, 3px); }
  60% { transform: translate(-4px, 2px); }
  70% { transform: translate(4px, 2px); }
  80% { transform: translate(-2px, -2px); }
  90% { transform: translate(2px, 3px); }
  100% { transform: translate(2px, 2px); }
}
.section:hover .photo{
	transform: scale(1);
	transition: 0.3s 0.3s ease;
}
.layer1{
	background: url("../images/layer1.png");
	height: 900px;
	width: 100%;
	background-size: contain !important;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	bottom: 0px;
	opacity: 0%;
	transition: 0.3s 0.3s ease;
	z-index: 1;
	transform: translateY(-8px);
	filter: blur(0px), brightness(1.5);
	animation: layer1 20s ease infinite;
}
.layer3{
	background: url("../images/layer3.png");
	height: 900px;
	width: 100%;
	background-size: contain !important;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	bottom: 0px;
	transition: 0.3s 0.3s ease;
	opacity: 0%;
	z-index: 3;
	transform: scale(0.8);
}
.textbox{
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 10vh;
}
h3{
	font-size: 12px;
	font-weight: 900;
	color: #444444;
	letter-spacing: 1px
}
p{
	font-size: 16px;
	font-weight: 500;
	line-height: 40px;
	letter-spacing: 1px
}
.info1{
	position: absolute;
	width: 30vw;
	height: 30vh;
	z-index: 2;
	top: 30vh;
	left: 19vw;
	transition: 0.3s ease;
}
.fullname{
	color: #444444;
	font-weight: 900;
	font-size: 80px;
	transition: 0.3s ease;
	letter-spacing: 10px 
}
.section:hover .fullname{
	color:#EDEDED;
	text-shadow: 3px 3px 20px #444444
}
.section:hover .info1{
	transform: translateX(-3vw)
}
.demo a {
  padding-top: 60px;
}
.demo a span {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #DA0037;
  border-radius: 50px;
  box-sizing: border-box;
}
.demo a span::before {
  position: absolute;
  bottom: 28px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #DA0037;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s ease infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.demo a {
  position: absolute;
  bottom: 0px;
  left: 50%;
  z-index: 9999;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999;
  font-size: 18px;
  border: none;
  outline: none;
	background: url("../images/up-arrow.png");
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
	transition: .3s ease;
	width: 40px;
	height: 40px;
	background-size: cover;
	background-position: center
}

#myBtn:hover {
  transform: translateY(-5px)
}
.info2{
	position: absolute;
	width: 20vw;
	height: 30vh;
	z-index: 2;
	bottom: 10vh;
	right: 10vw;
}
.info2 p{
	font-size: 18px;
	font-weight: 500;
	transition: .3s .3s ease;
	transform: translateY(-70px);
	opacity: 0%;
}
.info2 hr{
	width: 0%;
	opacity: 0%;
	transition: .3s ease;
	transform: translateX(-300px) ;
}
.section:hover .info2 hr{
	width: 100%;
	opacity: 100%;
	transform: translateX(0px);
	transition: translateX(-300px) .3s .3s ease, opacity(0%) 0.3 ease;
}
.section:hover .info2 p{
	transform: translateY(15px);
	opacity: 100%;
}
:root {
  --card-width: 300px;
  --card-height: 450px;
  --card-transition-duration: 400ms;
  --card-transition-easing: ease-in-out;
}
.app {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__bg {
  position: absolute;
  width: 700px;
  height: 700px;
  z-index: -5;
  filter: blur(3px);
  pointer-events: none;
  user-select: none;
  overflow: hidden;
	border-radius: 50%
}
.app__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  background: #171717;
  z-index: 1;
  opacity: 0.8;
}
.app__bg__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
  width: 180%;
  height: 180%;
  transition: transform 1000ms ease, opacity 1000ms ease;
  overflow: hidden;
}
.app__bg__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app__bg__image.current--image {
  opacity: 1;
  --image-translate-offset: 0;
}
.app__bg__image.previous--image, .app__bg__image.next--image {
  opacity: 0;
}
.app__bg__image.previous--image {
  --image-translate-offset: -35%;
}
.app__bg__image.next--image {
  --image-translate-offset: 35%;
}

.cardList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: auto;
	z-index: 3
}
.cardList__btn {
  --btn-size: 35px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.cardList__btn.btn--left {
  left: 10%;
}
.cardList__btn.btn--right {
  right: 10%;
}
.cardList__btn .icon {
  width: 100%;
  height: 100%;
}
.cardList__btn .icon svg {
  width: 100%;
  height: 100%;
}
.cardList .cards__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.card {
  --card-translateY-offset: 100vh;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  user-select: none;
		border-radius: 20px;

}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  transition: opacity var(--card-transition-duration) var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
		border-radius: 20px;
}
.card__image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.card__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.card.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1.2;
  --opacity: 0.8;
}
.card.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
  --card-rotation-offset: 25deg;
}
.card.next--card {
  --card-translateX-offset: calc(var(--card-width) * 1.1);
  --card-rotation-offset: -25deg;
}
.card.previous--card, .card.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}

.infoList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: var(--card-height);
  pointer-events: none;
	z-index: 4
}
.infoList .info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  perspective: 5000px;
  transform-style: flat;
}

.info {
  margin-bottom: calc(var(--card-height) / 8);
  margin-left: calc(var(--card-width) / 1.5);
  transform: translateZ(1rem);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
}
.info .text {
  position: relative;
  font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
  white-space: nowrap;
  color: #EDEDED;
  width: fit-content;
	text-align: left;
}
.info .name,
.info .location {
  text-transform: uppercase;
	text-align: left
}
.info .location {
  font-weight: 300;
}
.info .location {
  --mg-left: 40px;
  --text-size-offset: 0.12;
  font-weight: 600;
  margin-left: var(--mg-left);
  margin-bottom: calc(var(--mg-left) / 2);
  padding-bottom: 0.8rem;
}
.info .location::before, .info .location::after {
  content: "";
  position: absolute;
  background: #DA0037;
  left: 0%;
  transform: translate(calc(-1 * var(--mg-left)), -50%);
}
.info .location::before {
  top: 50%;
  width: 20px;
  height: 5px;
}
.info .location::after {
  bottom: 0;
  width: 60px;
  height: 2px;
}
.info .description {
  --text-size-offset: 0.065;
  font-weight: 500;
}
.info.current--info {
  opacity: 1;
  display: block;
}
.info.previous--info, .info.next--info {
  opacity: 0;
  display: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
  border: none;
}
.veminh1{
	font-size: 100px;
	position: absolute;
	z-index: 99;
	color: #EDEDED ~;
	bottom: -10vh;
	left: -0.5vw;
	opacity: .1;
	width: 200%;
	font-weight: 700
}
#icons {
  display: none;
}

.number-wrapper {
  position: absolute;
  height: 100%;
  width: 12rem;
  z-index: 10;
	pointer-events: none
}
.number-wrapper .number-count {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}
.number-wrapper .number {
  position: relative;
  font-family: Nunito;
  font-size: 16rem;
  color: #DA0037;
  margin-left: -4rem;
  font-weight: 700;
}

.nav-wrapper {
  position: absolute;
  height: 100%;
  width: 12rem;
  padding: 0 4rem;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.nav-wrapper .nav-arrows {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}
.nav-wrapper .nav-up {
  opacity: 0;
}
.nav-wrapper .nav-up, .nav-wrapper .nav-down {
  width: 3rem;
  height: 4.5rem;
  cursor: pointer;
}
.nav-wrapper .nav-up svg, .nav-wrapper .nav-down svg {
  fill: #EDEDED;
  width: 100%;
  max-height: 100%;
}
.nav-wrapper .nav-up svg:hover, .nav-wrapper .nav-down svg:hover {
  fill: #DA0037;
}
.nav-wrapper .nav-up {
  transform: rotate(180deg);
}
.nav-wrapper .nav-line {
  width: 100%;
  height: 0.1rem;
  background: #EDEDED;
  margin: 1rem 0;
}

.slider-content {
  position: relative;
  max-width: 100vw;
  background: none;
  margin: 0 auto;
  overflow: hidden;
	height: 100vh;
	pointer-events: none
}
.slider-content .slide {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slider-content .slide:after {
  content: "";
  display: table;
  clear: both;
}
.slider-content .slide:first-child .txt-wrapper span.copy {
  opacity: 1;
}
.slider-content .slide:nth-child(odd) .img {
  margin-left: 50%;
  transform: translateY(-100%);
}
.slider-content .slide:nth-child(odd) .txt {
  transform: translateY(100%);
}
.slider-content .slide:nth-child(even) .img {
  transform: translateY(100%);
}
.slider-content .slide:nth-child(even) .txt {
  margin-left: 50%;
  transform: translateY(-100%);
}
.slider-content .slide.active {
  position: absolute;
  z-index: 5;
}
.slider-content .slide.active .img, .slider-content .slide.active .txt {
  transform: translateY(0);
}

.slider-container {
  position: relative;
  height: 100rem;
  overflow: hidden;
	background: none
}
.slider-container:after {
  content: "";
  display: table;
  clear: both;
}
.slider-container .slide-content {
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  transition: transform 0.3s ease;
  transition-delay: 0.15s;
}
.slider-container .slide-content.txt {
  display: table;
  padding: 8rem 25rem;
  background: none;
}
.slider-container .slide-content .txt-wrapper {
  position: relative;
  display: table-cell;
  vertical-align: middle;
	background: none;
}
.slider-container .slide-content .txt-wrapper span.copy {
  position: relative;
  text-transform: uppercase;
  width: 10rem;
  display: block;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 4rem !important;
  font-weight: 500;
  opacity: 0;
  color: #EDEDED;
	left: 0
}
.slider-container .slide-content .txt-wrapper h2 {
  margin: 0;
  font-size: 6.3rem;
  margin-bottom: 4rem;
  line-height: 1;
  font-weight: 600;
	color: #EDEDED
}
.slider-container .slide-content .txt-wrapper h2 span {
  display: block;
}
.slider-container .slide-content .txt-wrapper p.excerpt {
  margin: 0;
  color: #EDEDED;
  font-size: 1.9rem;
  line-height: 1.5;
	font-weight: 300
}
.slider-container .slide-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.excerpt{
	width: 500px	
}
.artdirect{
	position: absolute;
	width: 500px;
	height: 500px;
	top: -25vh;
	transition: 0.3s ease;
	opacity: 0.5
}
.leftone{
	left: -32vw;
}
.rightone{
	right: -32vw;
}
.cardList__btn.btn--left .icon:hover .leftone{
    opacity: 1
}
.cardList__btn.btn--right .icon:hover .rightone{
    opacity: 1
}
.cent{
	width: 850px;
	height: 850px;
	position: absolute;
	z-index: -9;
	top: 7%;
	filter: blur(0px);
}
.form{
	position: absolute;
	top: 30%;
	left: 15%;
	z-index: 2;
}
form{
	width: 30vw;
	height: 30vh;
}
table{
	border: 0;
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%
}
td{
	padding: 10px 10px
}
.input{
	width: 100%;
	height: 60px;
	padding-left: 20px;
	box-sizing: border-box;
	border: none;
	outline: none;
	font-weight: 300;
	color: #EDEDED;
	background: #171717;
	font-size: 18px;
	transition: 0.3s ease;
	border-radius: 10px;
	opacity: .8;
}
.input:hover{
	opacity: 1;
}
.btnn{
	width: 100%;
	height: 60px;
	background: #da0037;
	border: 0px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 20px;
	color: #ededed;
	cursor: pointer;
	transition: 0.3s ease;
	border-radius: 10px
}
.btnn:hover{
	opacity: 0.7 
}
.title5{
	/*margin-bottom: 50px;*/
	text-align: center;
	font-size: 40px;
	pointer-events: none
}
*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.socialbar{
  display:flex;
	justify-content: flex-end;
	width: 100%
}

.socialbar .iconic {
  position: relative;
  background-color: #da0037;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	color: #ededed;

}

.socialbar .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #444444;
  color: #DA0037;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		z-index: 10
}

.socialbar .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #444444;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.socialbar .iconic:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.socialbar .iconic:hover span,
.socialbar .iconic:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.socialbar .facebook:hover,
.socialbar .facebook:hover .tooltip,
.socialbar .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.socialbar .instagram:hover,
.socialbar .instagram:hover .tooltip,
.socialbar .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.socialbar .youtube:hover,
.socialbar .youtube:hover .tooltip,
.socialbar .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}
.section4{
	width: 100%;
	height: 100%;
	background: url("../images/lienheart.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover
}
.bloom{
	width: 100%;
	height: 100%;
	background: url("../images/lienheart2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	animation: layer1 10s ease infinite;
	position: absolute;
	z-index: 1
}
.detailcontainer{
	position: relative;
	width: 100%;
	height: 100%;
	pointer-events: none
}
.textleft{
	width: 40vw;
	height: 100vh;
	position: absolute;
	left: 0;
	background: none
}
.avatar1{
	width: 60vw;
	height: 100vh;
	position: absolute;
	right: 0;
	background: url("../images/ava1.jpg");
	background-size: cover;
	background-position: center
}
.credit{
	width: 30vw;
	height: 10vh;
	position: absolute;
	background: none;
	right: 10vw;
	bottom: 0
}
.avatar2{
	width: 25vw;
	height: 25vh;
	position: absolute;
	right: 37vw;
	background: #da0037;
	bottom: 0;
	box-shadow: 3px -3px 50px 3px #171717;
	transition: .3s ease
}
.avatar2:hover{
	transform: translateY(-10px)
}
.textdetail{
	width: 50%;
	position: absolute;
	top: 30%;
	left: 30%;
}
.textdetail h1{
	font-size: 65px;
	font-weight: 900
}
.textdetail p{
	font-size: 18px;
	font-weight: 400
}
.textdetail2{
	width: 80%;
	position: absolute;
	top: 10%;
	left: 20%;
	text-align: left
}
.textdetail2 h1{
	font-size: 18px;
	font-weight: 900
}
.textdetail2 p{
	font-size: 13px;
	font-weight: 400
}